@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 15rem;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.nav-logo-container img {
  width: 80%;
}

.nav-ul {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list:not(:last-child) {
  margin-right: 3rem;
}

.nav-link {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 1.8rem;
  padding: 3rem 0;
  font-weight: 300;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  color: #02ce77;
}

.nav-link.active {
  color: #02ce77;
  border-bottom: 5px solid #02ce77;
}
.toggle-btn-container {
  display: none;
}

.footer-container {
  background-color: #0a1938;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  align-items: center;
  padding: 8rem 10rem;
}

.navigation-footer,
.about-footer,
.hotels-enquiries,
.get-the-app-footer {
  align-self: flex-start;
  justify-self: center;
}

.footer-logo-container {
  margin-bottom: 2rem;
}

.footer-logo-container img {
  width: 70%;
}

.enquiry-email {
  margin-bottom: 2rem;
}

.enquiry-email a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  font-size: 2rem;
}

.hotels-enquiries a:hover {
  color: #02ce77;
}

.social-handles-ul {
  display: flex;
}

.social-handles-li {
  list-style-type: none;
}

.social-handles-li img {
  width: 80%;
  cursor: pointer;
}

.social-handles-li img:not(:last-child) {
  margin-right: 1rem;
}

.navigation-header {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.navigation-list {
  list-style: none;
}

.navigation-list:not(:last-child) {
  margin-bottom: 2rem;
}

.about-header {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about-list {
  list-style: none;
}

.about-list:not(:last-child) {
  margin-bottom: 2rem;
}

.get-the-app-header {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.get-google-play,
.get-app-store {
  display: flex;
  background-color: #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0.5rem 1rem;
}

.get-google-play {
  margin-bottom: 1rem;
}

.google-play-img-container,
.app-store-img-container {
  display: flex;
}

.google-play-img-container img,
.app-store-img-container img {
  width: 3rem;
  margin-right: 1rem;
}

.get-google-play p,
.get-app-store p {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.get-google-play p span,
.get-app-store p span {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2rem;
}
