@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 15rem;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.nav-logo-container img {
  width: 80%;
}

.nav-ul {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list:not(:last-child) {
  margin-right: 3rem;
}

.nav-link {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 1.8rem;
  padding: 3rem 0;
  font-weight: 300;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  color: #02ce77;
}

.nav-link.active {
  color: #02ce77;
  border-bottom: 5px solid #02ce77;
}

.toggle-btn-container {
  display: none;
}

.close-mobile-nav-btn {
  display: none;
}

.footer-container {
  background-color: #0a1938;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  padding: 8rem 10rem;
}

.navigation-footer,
.about-footer,
.hotels-enquiries,
.get-the-app-footer {
  align-self: flex-start;
  justify-self: center;
}

.footer-logo-container {
  margin-bottom: 2rem;
}

.footer-logo-container img {
  width: 70%;
}

.enquiry-email {
  margin-bottom: 2rem;
}

.enquiry-email a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  font-size: 2rem;
}

.hotels-enquiries a:hover {
  color: #02ce77;
}

.social-handles-ul {
  display: flex;
}

.social-handles-li {
  list-style-type: none;
}

.social-handles-li img {
  width: 80%;
  cursor: pointer;
}

.social-handles-li img:not(:last-child) {
  margin-right: 1rem;
}

.navigation-header {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.navigation-list {
  list-style: none;
}

.navigation-list:not(:last-child) {
  margin-bottom: 2rem;
}

.about-header {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about-list {
  list-style: none;
}

.about-list:not(:last-child) {
  margin-bottom: 2rem;
}

.get-the-app-header {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.get-google-play,
.get-app-store {
  display: flex;
  background-color: #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0.5rem 1rem;
}

.get-google-play {
  margin-bottom: 1rem;
}

.google-play-img-container,
.app-store-img-container {
  display: flex;
}

.google-play-img-container img,
.app-store-img-container img {
  width: 3rem;
  margin-right: 1rem;
}

.get-google-play p,
.get-app-store p {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.get-google-play p span,
.get-app-store p span {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .header-navbar {
    padding: 0 7rem;
  }

  .footer-container {
    padding: 8rem 6rem;
  }
}

@media screen and (max-width: 880px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem 5rem;
    grid-gap: 5rem;
  }
}

@media screen and (min-width: 791px) {
  .navbar-nav {
    display: flex !important;
  }

  .close-mobile-nav-btn {
    display: none !important;
  }
}

@media screen and (max-width: 790px) {
  .navbar-nav {
    display: none;
  }

  .header-navbar {
    padding: 1rem 5rem;
  }

  .toggle-btn-container {
    display: flex;
    align-items: center;
  }

  .toggle-btn-container .toggle-btn {
    background-color: #38a2f7;
    border: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  .toggle-btn-container .toggle-btn:focus {
    outline: 0;
  }

  .toggle-btn-container .toggle-btn i {
    font-size: 2rem;
    color: #ffffff;
  }

  .navbar-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(10, 25, 56, 0.95);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .nav-ul {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .nav-link {
    padding: 0.5rem 0;
    color: #ffffff;
    font-size: 2.5rem;
  }

  .nav-list:not(:last-child) {
    margin-bottom: 3rem;
  }

  .close-mobile-nav-btn {
    display: flex;
    position: fixed;
    top: 2rem;
    right: 4rem;
    z-index: 99;
  }

  .close-btn {
    height: 4rem;
    width: 4rem;
    background-color: #02ce77;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  .close-btn i {
    font-size: 2rem;
    color: #fff;
  }
}

@media screen and (max-width: 500px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5rem 3rem;
  }

  .navigation-footer,
  .about-footer,
  .hotels-enquiries,
  .get-the-app-footer {
    align-self: flex-start;
    justify-self: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .header-navbar {
    padding: 1rem;
  }

  .footer-container {
    padding: 5rem 1rem;
  }
}
